body {
    color: blueviolet;
}

h1 {
    margin-left: 10%; 
}

.table {
    display: grid;
    border: 2px solid black;
    /* grid-template-columns: repeat(4, 4fr); */
    grid-template-columns: 2fr 4fr 2fr 3fr;
    grid-template-rows: repeat(5, 4fr); 
    /* gap: 1px;   */
    width: 50%;
    padding: 5px;
}

.A {
    border: 1px solid black;
    background-color: #00fff7;
    text-align: center;
    height: 100%;
}

.A1 {
    border: 1px solid black;
    background-color: #00fff7;
    text-align: center;
    height: 100%;
    font-weight: bold;
    font-size: larger;
}